<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Travis' Website with all of his games as of mid 2016">
	<meta name="keywords" content="Travis,Ristow,Games,Portfolio,HTML,CSS,Python,JavaScript">
	<meta name="author" content="Travis Ristow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TRtheGreat</title>
		{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'Zoo_App/Att1css.css' %}" media="screen" title="no title"  charset="utf-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	$("#java").mouseover(function(){
		$("#jQuery").animate({height: '-=109px'}, 1500)
			.animate({height: '+=109px'},1500)
			.animate({width: '-=90%'}, 2500)
			.animate({width: '+=90%'}, 2400)
			.animate({width: '-=90%'}, 2300)
			.animate({width: '+=90%'}, 2000)
		});
	});
	</script>
</head>
<body>
	<div id="Qcont">
		<h2>Travis Ristow    ~    1 (650) 754-3025    ~    TRtheGreat19@gmail.com</h2>
	</div>
	<div id="cover">
		<img src="{% static 'Zoo_App./images/turtle.gif' %}">
	</div>
	<div id="navBar">
		<a href="#">Home</a>
		<a href="#projects">Projects</a>
		<a href="#games">Games</a>
		<a href="#contact">Contact</a>
	</div>
	<div id="wrapper">
		<div id="intro">
			<div id="html-css" class="badges">
				<img src="{% static 'Zoo_App./images/html5.png' %}">
				<div id="MSG_html-css">
					<p><span class="bold">HTML/CSS</span></p>
					<p><span class="bold">9 out of 10</span>.<br>  These pop-ups are done <span class="bold">Solely by CSS</span></p>
				</div>
			</div>
			<div id="css" class="badges">
				<img src="{% static 'Zoo_App./images/css3.png'%}">
				<div id="MSG_RWD">
					<p><span class="bold">Responsive</span></p>
					<p><span class="bold">9 out of 10</span>.<br>  Resize the window see, What happens.</p>
				</div>
			</div>
			<div id="java" class="badges">
				<img id="jQuery" src="{% static 'Zoo_App./images/js.png'%}">
				<div id="MSG_java">
					<p><span class="bold">JavaScript</span></p>
					<p><span class="bold">8 out of 10</span>.<br>  Check out the Snake game!</p>
				</div>
			</div>
			<div id="MEAN" class="badges">
				<img style="background-color:rgba(0,0,0,0.45);border-radius:10px;padding:5px;" src="{% static 'Zoo_App./images/mean.png'%}">
				<div id="MSG_MEAN">
					<p><span class="bold">M.E.A.N</span></p>
					<p><span class="bold">7 out of 10</span>.<br>  Check out my projects to see what I have done for other companies.</p>
				</div>
			</div>
			<div id="PY" class="badges">
				<img src="{% static 'Zoo_App./images/python.png'%}">
				<div id="MSG_PY">
					<p><span class="bold">Python</span></p>
					<p><span class="bold">8 out of 10</span>.<br>  Check out Games.  </p>
				</div>
			</div>
			<div id="django" class="badges">
				<img src="{% static 'Zoo_App./images/dj.png'%}">
				<div id="MSG_django">
					<p><span class="bold">Djagno</span></p>
					<p><span class="bold">7 out of 10</span>.<br>  Check out the Zoo Games!  </p>
				</div>
			</div>
			<div id="flask" class="badges">
				<img src="{% static 'Zoo_App./images/flask.png'%}">
				<div id="MSG_flask">
					<p><span class="bold">Flask</span></p>
					<p><span class="bold">7 out of 10</span>.<br>  But, Seriously just check out my Projects.  </p>
				</div>
			</div>
			<div id="ruby" class="badges">
				<img src="{% static 'Zoo_App./images/ruby.png'%}">
				<div id="MSG_ruby">
					<p><span class="bold">Ruby</span></p>
					<p><span class="bold">6 out of 10</span>.<br>  Your still reading these?!? GO Play the Games!</p>
				</div>
			</div>
		<hr>

		</div> <!-- INTRO ENDs -->
		<div id="projects">
			<h1>Projects</h1><h3>Click on the image for full screen.</h3>
			<div class="sites"><a href="/WebCrawler">
				<h2><span class="bold">Web Crawler</span></h2>
				<img src="{% static 'Zoo_App./images/spider.png'%}">
				<h4>A company asked for a program that would pull data from a website and put it in google SpreadSheet.</h4>
			</div></a><br>
			<br>
			<div class="sites"><a href="/WBS">
				<h2><span class="bold">Bike Shop</span></h2>
				<img src="{% static 'Zoo_App./images/wbs.png'%}">
				<h4>Made this for a bike shop I used to work at.  The bikes in the background move, saddly is a screen shot.</h4>
			</div></a>
			<div class="sites"><a href="/FHB">
				<h2><span class="bold">Restaurant</span></h2>
				<img src="{% static 'Zoo_App./images/fhb.png'%}">
				<h4>Made this for a restaurant that I used to work at.  One of the <span class="bold" style="text-decoration:none;">FIRST</span> websites I made.</h4>
			</div></a>
			<br>
			<br>
			<hr style="width: 80%">
			<h1 id="games"><span class="bold">Games!!</span></h1>
			<div class="sites"><a href="/zoo">
				<h2><span class="bold">Zoo Game</span></h2>
				<img src="{% static 'Zoo_App./images/ZooGame.png'%}">
				<h4>Own a Zoo for 15 Days, Buy animals and attract more people.  Get them Schmeckles!  This is one of the first games I built.  Built this game with Django.</h4>
			</div></a>
			<div class="sites"><a href="/MoneyGame">
				<h2><span class="bold">Money Game</span></h2>
				<img src="{% static 'Zoo_App./images/MoneyGame.png'%}">
				<h4>You have 15 Days to Build your business up from nothing.  Upgrade your product and open stores.  Built this game with Django too.</h4>
			</div></a>
			<div class="sites" style="width:30%;"><a href="/Snake">
				<h2><span class="bold">Snake</span></h2>
				<img src="{% static 'Zoo_App./images/Snake.png'%}">
				<h4>Classic Snake game, but with fruit AND CANDY.  Made with HTML5/Canvas and JavaScript.  </h4>
			</div></a>
		</div> <!-- PROJECTS ENDs -->
		<hr style="width: 80%">
		<div id="contME">
			<h1><span class="bold">Contact Info</span></h1>
			<img  id="me" src="{% static 'Zoo_App./images/me.jpg'%}">
			<div id="contact">
				<img style="width:15%;" src="{% static 'Zoo_App./images/phone.png'%}"><h2>1 (650) 754-3025</h2><
				<img src="{% static 'Zoo_App./images/gmail.png'%}"><h2>TRtheGreat19@gmail.com</h2>
			</div>
		</div>
	</div> <!-- WRAPPER ENDs -->
</body>
</html>